# Arquivos de compilação do CMake
build/
[Bb]uild/
*.build/

# Pasta de resultados da simulação
Results/
[Rr]esults/

# Pastas de dados gerados (cache)
data/devices/
data/servers/

# Executáveis e bibliotecas
*.exe
*.out
*.a
*.so
*.dll

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db