# CMake build files
build/
[Bb]uild/
*.build/

# Generated data folders (cache)
data/devices/
data/servers/

# Executables and libraries
*.exe
*.out
*.a
*.so
*.dll

# Operating System files
.DS_Store
Thumbs.db